<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/javascripts/tow.js"></script>
    <script src="/javascripts/questions.js"></script>
    <script src="/javascripts/main.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />    
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="mainContainer"></div>

    <br><br>
    <form>
      <div id="breakdown">
        <div class="form-group">
          <label for="percentageInput1">Family Medicine or General Practice</label>
          <input type="email" class="form-control" id="percentageInput1" placeholder="Enter percentage of time spent">
        </div>
        <div class="form-group">
          <label for="percentageInput2">Emergency Department</label>
          <input type="email" class="form-control" id="percentageInput2" placeholder="Enter percentage of time spent">
        </div>
        <div class="form-group">
          <label for="percentageInput3">Intensive Care Unit</label>
          <input type="email" class="form-control" id="percentageInput3" placeholder="Enter percentage of time spent">
        </div>
        <button id="completeWizard" type="button" class="btn btn-sm btn-primary">REVEAL TOW CODE</button>
      </div>
    </form>



  </body>
</html>
